.bns_title
{
	background: #FFA500;
	text-align: center;
	font-weight: bold;
}

.roundedCorners 
{
	/*-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	border-radius: 15px;*/
	background-color: rgb(45, 45, 45);
	text-align: center;
	border: solid 1px #333;
	padding:10px;
}

article{
	height:60px;
	margin-left:15px;
}

figure{
	float:left;
	margin: 2 2 2 2;
	text-align: center;
}

figure > a > img{
	width:50px;
	margin-left:3px;
}

figure a{
	text-decoration:none;
	color:gray;
}

figure a:hover{
	text-decoration:none;
	color:white;
}

.btn_textarea{
	border:1px solid #333;
	min-height:100px;
	width:90%;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
    -moz-box-shadow:inset 0 0 10px #000;
    box-shadow:inset 0 0 10px #000;
    background:transparent;
    color: white;
    padding:15px;
    color:gray;
    font-weight: bold;
}

.bns_tb{
    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,0.5);
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.bns_message
{
	text-color: #32587E;
	font-family: Calibri;
	font-size: 25px;
	font-weight:bold;
	text-decoration:overline;
}