/* Same width for all text input fields*/
input[type="text"], select {
	width: 200px;	
}

/* Columns for the "Ajouter" tab*/
#column_1 {
   float:left;
   width:45%;
}

#column_2 {
   float:left;
   width:55%;
}

/* Validation styling */


.field_input{
	border:1px solid #333;
	height:25px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    background-color:#D9E3F5;
    color: black;
    padding-left:5px;
}

input.field_input_error, select.field_input_error, div.field_input_error{
	border:1px solid #FF0000;
	height:25px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    background:#990000;
    color: white;
    padding-left:5px;
}

label.field_input_error{
	margin-left: 10px;
}

input.field_input_success, select.field_input_success, div.field_input_success{
	border:1px solid #00FF00;
	height:25px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    background:#009900;
    color: white;
    padding-left:5px;
}

span.required {
	color: red;	
}

/* Padding for tab and expander content */
#add_wrapper, #selection_wrapper, #interview_wrapper, #result_wrapper {
	padding: 15px;
}

.jqx-expander-content {
	padding: 15px;	
}

/* Datepicker styling */
div.ui-datepicker{
 font-size:13px;
}
.ui-widget-content {
z-index: 99!important;
}

#language_list label {
	float: left;
	width: 100px;		
}

#language_list div {
	margin-bottom: 15px;	
}

/* Rounded corners for selected technologies */
span.rounded {
	-moz-border-radius: 10px; 
	border-radius: 10px; 
	margin:0 8px 8px 0;
	padding:5px; 
	float: left;
	border:1px solid #cacaca; 
	background-color: #e4e5e5;
}

#selected_technologies {
	width: 400px;
	padding-right: 5px;
}

#interview_observations label {
	width: 200px;	
	float: left;
}

input.hasDatepicker {
	margin-right: 3px;	
}

input[type="text"].input_result{
	width:85px;
}	