html {
	overflow: -moz-scrollbars-vertical;  
	overflow-y: scroll; 
}
body {
	font-size:11px; 
	font-family:Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif; 
	color:#494949; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:normal; 
	line-height:normal; 
	text-align:center; 
	background:#cccccc url(../images/login.jpg) center top no-repeat;
}
#bg{
	min-width:980px;
	background:transparent;
	margin:0 auto;
}
/* *******************HEADER********************************* */
#header_bg { 
	position:relative; 
	clear:both; 
	}

#header{ 
	width:805px; 
	height:470px;
	position:relative; 
	margin:0 auto; 
	}
	
#messageBoxSession, #infoMessageBox {
	height: 15px;
}
	
#header table.login_hidden {
	width:700px;
	height:250px;
	}
#header table.login_tb {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 15px;
	font-weight:bold;
	color:#333333;
	width:700px;
	text-decoration: none;
	}
#header table.tb1 {
	width:330px;
	height:110px;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 15px;
	font-weight:bold;
	color:#333333;
	text-decoration: none;
}


#header table.tb2 {
	width:420px;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#000000;
	text-decoration: none;
}
#header table.tb2 a.link {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;	
}
#header table.tb2 a.link:hover{
	color:orange;
	text-decoration:none;	
}

.small{
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	font-size:11px;
}

.smaller{
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	font-size:10px;
}

table td.centerAlign, table th.centerAlign {
	text-align:center;
	}
table td.centerAlign, table th.centerAlign {/*for mozilla*/
	text-align:-moz-center;
	}

#header input.login_input {
	width:142px; /*keep constant size as jQuery validates fields*/
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;	
}

#header input.submit_bt{
	width:100px;
	height:30px;
	border:none;
	color: #fff;
	font-weight: bold;
	background: transparent url(../images/submit.gif) left top no-repeat;
}

#header input.submit_bt:hover{
	color: #ffffff;
	font-weight: bold;
	background: transparent url(../images/submit_hover.gif) left top no-repeat;
}

/*this includes a workaround for ie*/
.submit_bt_ie{
	width:100px;
	height:30px;
	border:none;
	color: #fff;
	font-weight: bold;
	background: transparent url(../images/submit.gif) left top no-repeat;
}

.submit_bt_ie_hover{
	width:100px;
	height:30px;
	border:none;
	color: #fff;
	font-weight: bold;
	background: transparent url(../images/submit_hover.gif) left top no-repeat;
}

/* ********************FOOTER******************************** */
#footer_bg { 
	position:relative; 
	clear:both; 
	}
#footer{ 
	width:980px; 
	position:relative; 
	margin:0 auto; 
	color:#7c7e80; 
	}
#footer a{ 
	text-decoration:none; 
	font-weight: normal;
	}
#footer a:link, #footer a:visited{ 
	color:#7c7e80; 
	}
#footer a:active, #footer a:hover{ 
	color:#eb7f24; 
	}
#footer ul{ 
	position:relative;	
	padding-bottom:5px; 
	}
#footer li { 
	display:inline; 
	list-style:none; 
	}

/* *********************LINK******************************* */

a {
	font-size:11px;
	text-decoration:none;
	font-weight: bold;
	outline: none; /* do not show border for the link, even if pressed */ 
	
}

a:link, a:visited { 
	color: #ffffff;
} 

a:hover, a:focus, a:active { 
	color: #eb7f24; 
} 

li a{
	color:black;
} 

html>body .meta ul li {
    display: block;
    list-style-type: none;
    text-align: left;
	padding:2px;
}
.meta ul li {
    display: block;
    list-style-type: none;
    text-align: left;
	padding:2px;
}

.meta ul {
    display: block;
    margin-left: 2px;
    padding: 2px;	
}
.meta {
    position: absolute;
    right: 20px;
    text-align: right;
    top: 9px;
    z-index: 3000;
	left:892px;
}
html>body .meta{
	position: absolute;
    right: 20px;
    text-align: right;
    top: -1px;
    z-index: 3000;
	left:893px;
}

html>body .meta1{
	width:100px;
    text-align: right;
    z-index: 3000;
	left:793px;
	top:17px;
}
.meta1 {
	width:100px;
    position: absolute;
    right: 23px;
    text-align: right;
    top: 17px;
    z-index: 3000;
	left:792px;
}

 .login {
	border: 1px solid black;
	background-image:url('../images/down_arrow.bmp');
	background-repeat:no-repeat;
	background-position:right top;
	color:black;
	background-color: #DADBDC;
	padding:0px;
}
.hidden{
visibility:hidden;
}
.visible{
visibility:visible;
}