body {
/*	font-size:11px;  */
	font-family:Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:normal; 
	line-height:normal; 
	text-align:center; 
	/*background:	#EEEAFF url(../images/login.jpg) center top no-repeat;*/
	background: #FFF;
	margin: 0;
}
#login_header{
	background: #222;
	border-bottom: 2px solid white;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
	color:white;
}

#login_header img{
	border: 2px solid white;
	position:absolute;
	left: 25px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

#bg{
	min-width:980px;
	background:transparent;
	margin:0 auto;
}
/* *******************HEADER********************************* */
#header_bg { 
	position:relative; 
	clear:both; 
	}

#header{ 
	width:805px; 
	height:470px;
	position:relative; 
	margin:0 auto; 
	}
	
#messageBoxSession, #infoMessageBox {
	height: 15px;
}
	
#header table.login_hidden {
	width:700px;
	height:250px;
	}
#header table.login_tb {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 15px;
	font-weight:bold;
	color:#111;
	width:700px;
	text-decoration: none;
}
#header table.tb1 {
	width:330px;
	height:110px;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 15px;
	font-weight:bold;
	color:#333333;
	text-decoration: none;
}


#header table.tb2 {
	width:420px;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#000000;
	text-decoration: none;
}
#header table.tb2 a.link {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;	
}
#header table.tb2 a.link:hover{
	color:orange;
	text-decoration:none;	
}

.small{
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	font-size:11px;
}

.smaller{
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	font-size:10px;
}

table td.centerAlign, table th.centerAlign {
	text-align:center;
	}
table td.centerAlign, table th.centerAlign {/*for mozilla*/
	text-align:-moz-center;
	}

#header input.login_input {
	width:142px; /*keep constant size as jQuery validates fields*/
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

#header input.submit_bt{
	width:100px;
	height:30px;
	border:none;
	color: #fff;
	font-weight: bold;
	background: transparent url(../images/submit.gif) left top no-repeat;
}

#header input.submit_bt:hover{
	color: #ffffff;
	font-weight: bold;
	background: transparent url(../images/submit_hover.gif) left top no-repeat;
}

/*** Button */

.submit_bt {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .25em 2em .25em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	height: 25px;
}
.submit_bt_hover {
	text-decoration: none;
}
.submit_bt:active {
	position: relative;
	top: 1px;
}

.user_bt
{
	border-radius: 0em 0.5em 0.5em 0em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    outline: medium none;
    padding: 0.25em 2em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	margin-right: 43px;
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

html>body .meta ul li {
    display: block;
    list-style-type: none;
    text-align: left;
	padding:2px;
}
.meta ul li {
    display: block;
    list-style-type: none;
    text-align: left;
	padding:2px;
}

.meta ul {
    display: block;
    margin-left: 2px;
    padding: 2px;	
}
.meta {
    position: absolute;
    right: 20px;
    text-align: right;
    top: 9px;
    z-index: 3000;
	left:892px;
}
html>body .meta{
	position: absolute;
    right: 20px;
    text-align: right;
    top: -1px;
    z-index: 3000;
	left:893px;
}

html>body .meta1{
	width:100px;
    text-align: right;
    z-index: 3000;
	left:793px;
	top:17px;
}
.meta1 {
	width:100px;
    position: absolute;
    right: 23px;
    text-align: right;
    top: 17px;
    z-index: 3000;
	left:792px;
}

html>body .login {
	border: 1px solid black;
	background-image:url('../images/down_arrow.bmp');
	background-repeat:no-repeat;
	background-position:right top;
	color:black;
	background-color: #DADBDC;
	padding:0px;
}
.login_tb{
    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,0.5);
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.login {
	border: 1px solid black;
	background-image:url('../images/down_arrow.bmp');
	background-repeat:no-repeat;
	background-position:right top;
	color:black;
	background-color: #DADBDC;
}

.login_input{
    border: 1px solid #333333;
    border-radius: 0 0.75em 0.75em 0;
/*     box-shadow: 0 0 10px #000000 inset; */
    height: 25px;
    padding-left: 5px;
    width: 175px;
}	

.login_input_error{
	border:1px solid #FF0000;
	height:25px;
	width:185px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    background:#990000;
    color: white;
    padding-left:5px;
}

.login_input_success{
	border:1px solid #00FF00;
	height:25px;
	width:185px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    background:#009900;
    color: white;
    padding-left:5px;
}

.login_message
{
	text-color: #32587E;
	font-family: Calibri;
	font-size: 25px;
	font-weight:bold;
	text-decoration:overline;
}

.login_tb #messageWrapper{
	color:#FFF;
	width:300px;
	font-weight: bold;
}

.roundedCorners #field
{
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	border: solid 2px black;
}

.userPass
{
	background: none repeat scroll 0 0 #F47A20;
    border: 1px solid #DA7C0C;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FEF4E9;
    font-family: Calibri;
    font-size: 15px;
    height: 21px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
    background:-moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0 0 transparent;
    /* margin-left: 30px; */
}

.roundedCorners 
{
	/*-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	border-radius: 15px;*/
	background-color: rgb(45, 45, 45);
	text-align: center;
	border: solid 1px #333;
}

.roundedCornersSelect
{
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background-color: #576A6E;
	text-align: center;
	border: solid 2px black;
	font-family: Calibri;
	font-size: 17px;
	color: #FFA500;
}