
.evenTableRow {
 background-color:#4EBEFF;color:#000;
}
.oddTableRow  {
 background-color:#9CDAFF;color:#000;
}

.insertPackage {
    width: 800px;
   /*  height: 110px; */
    border: 0;
}

#legenda {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: black;
	font-family: Calibri;
	margin: 0 25px;
}

#insertPosition {
	margin: 0 auto;	
	height: 100px; 
	width: 400px;
}

tr.ui-row-ltr td:nth-child(1) {
	border-left-width: 1px;
	border-left-color: inherit;
	border-left-style: solid;
}
	
.field_input{
	height:25px;
	width:160px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
    padding-left:5px;
    font-family: Calibri;
}

.field_input_description{
	height:130px;
	width:500px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
    padding-left:5px;
    font-family: Calibri;
}
.userPass
{
	font-family: Calibri;
}

.field_input_error{
	border:1px solid #FF0000;
	height:25px;
	width:250px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    background:#990000;
    color: white;
    padding-left:5px;
}

.field_input_success{
	border:1px solid #00FF00;
	height:25px;
	width:250px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    background:#009900;
    color: white;
    padding-left:5px;
}

.position_title
{
	background: #FFA500;
	text-align: center;
	font-weight: bold;
}

.insertPositionTbl
{
    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,0.5);
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.roundedCorners 
{
	text-align: center;
	border: solid 1px #333;
	padding:10px;
}

.submit_bt {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .10em 1em .10em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.submit_bt_hover {
	text-decoration: none;
}
.submit_bt:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

#resultTable2
{
	font-size:14px;	
}