.cv
{
	height: 60px;
}

.cv a{
	text-decoration:none;
	color: red;
}
.cv a:hover{
	text-decoration:underline;
}

.cv_label {
	margin-top : 20px;
	float:left;
}


.ui-helper-hidden-accessible{
	display:none;
}

.ui-autocomplete{
	width:100px;
	padding-left:6px;
	-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.9);
	-moz-box-shadow: 0 3px 15px rgba(0,0,0,0.9);
	box-shadow: 0 3px 15px rgba(0,0,0,0.9);
	overflow:auto;
}

.ui-autocomplete li{
	list-style-type:none;
}

#excel{
	margin: 20 110 0;
	float:left;
}

.roundedCorners 
{
	text-align: center;
	padding:10px;
}

article{
	height:60px;
	margin-left:15px;
}

figure{
	float:left;
	margin: 2 2 2 2;
	text-align: center;
}

figure > a > img{
	width:50px;
	margin-left:3px;
}

figure a{
	text-decoration:none;
	color:gray;
}

figure a:hover{
	text-decoration:none;
	color:white;
}

.btn_textarea{
	border:1px solid #333;
	min-height:100px;
	width:90%;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
    -moz-box-shadow:inset 0 0 10px #000;
    box-shadow:inset 0 0 10px #000;
    background:transparent;
    color: white;
    padding:15px;
    color:gray;
    font-weight: bold;
}

.bns_tb{
    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,0.5);
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.userPass
{
 	color: black;
	font-family: Calibri;
	text-align: right;
}

.bns_message
{
	text-color: #32587E;
	font-family: Calibri;
	font-size: 25px;
	font-weight:bold;
	text-decoration:overline;
}

.search_events_input{
	height:25px;
	width: 227px !important;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
}

#buttons_container{
	text-align:center;
}

/*** Button */

.submit_bt {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .25em 2em .25em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.submit_bt_hover {
	text-decoration: none;
}
.submit_bt:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

#hide_search_options{
	text-align:right;
	width:100%;
	font-size:20px;
	padding:10px;
	margin: 10 0 0 -115;
}

#slide{
	display:block;
}

#hide_search_options a{
	color: gray;
	cursor:pointer;
}

#hide_search_options a:hover{
	color: gray;
	text-decoration: underline;
}

#showResults{
	text-align:center;
}

#jqGrid{
	padding:10px;
}


tr.ui-row-ltr td:nth-child(3) {
	border-left-width: 1px;
	border-left-color: inherit;
	border-left-style: solid;
}

.search_events_button{
	height: 20px;
	width: 100px;
	padding-left: 10px;
}

/* Datepicker styling */
div.ui-datepicker{
 font-size:13px;
}

.ui-widget-content {
z-index: 99!important;
}

input.hasDatepicker {
	margin-right: 3px;	
}

input.hasDate {
	width: 84px !important; 
}

#advanced_search {
	cursor: pointer;
	font-weight: bold;
}

.search_and {
	margin: 0 3px 0 1px;
}

.ui-jqgrid-htable {
	background-color: white;	
}

#jqGrid > .ui-widget-content {
	border: 0;	
}

#export
{
	visibility: hidden;
}