/* this is the main css file (applies to all pages except login) */

#upload_form{
	color: white;
}

#messageBox , #noResults{
	/*hack for li with image*/
	margin: 0 0 20px 0;
	padding: 0;
	zoom:1; 
}

#messageBox li.error {
	list-style-type:none; 
	background:url(../images/error_icon.png) left center no-repeat; 
 	padding:5 0 0 5px;
}

html>body  #messageBox li.error {
	list-style-type:none; 
	background:url(../images/error_icon.png) left center no-repeat; 
 	padding:5 0 0 20px;
}


#messageBox li.info , #noResults li.info{
	list-style-type:none; 
	background:url(../images/warning_icon.png) left center no-repeat; 
	padding:5 0 0 5px;
}
html>body  #messageBox li.info ,html>body  #noResults li.info{
	list-style-type:none; 
	background:url(../images/warning_icon.png) left center no-repeat; 
 	padding:5 0 0 20px;
}

.errorValidation {
}

input.error, textarea.error , select.error{
	background-color: #E35D56;
	color: black;
	border: 1px solid #C0C0C0;
	font-weight: normal;
}

.messageWrapper {
	display: block;
	height: 20px;	
	margin-bottom: 1px;
	color: red;
}

.errorField{
	width:100%;
	height:25px;
	margin:0;
	font-size: 20px;
	color:#FFFFFF;
	font-weight:bold;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	display:none;
	background-image: url('plugins/jqGrid/images/animated-overlay.gif');
	text-align:center;
}

/* CSS for menu.jsp */ 

#logo-title {
	float: left;
	margin-right: 5em;	
}

#logo-title h1 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;	
}

#main-header {
	margin:5px 0 10px 0;
	padding:0 15px ;
	height: 128px;
	border-bottom: 2px solid rgb(187, 187, 187);
	-webkit-border-bottom-right-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-bottomright: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	-moz-box-shadow: 3px 3px 3px #C9C9C9;
	-webkit-box-shadow: 3px 3px 3px #C9C9C9;
	box-shadow: 3px 3px 3px #C9C9C9;
}

#main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

#main-nav ul li a {
	display: block;
	margin-bottom: 1em;
	text-decoration: none;
	text-align: center;
}

#main-nav ul li {
	display: inline;
	float: left;
	width: 165px;
}

#welcome {
	float:right;
	font-family: Arial, Helvetica, sans-serif;
}


#welcome p {
	margin: 0;	
	font-size: 90%;
	font-weight: bold;
	color: #656567;
}

#welcome a {
	font-weight: normal;
	text-decoration: none;
	color: #FFA500;
;	
}

#main-nav li.menuSelected a {
	font-weight: bold;	
}

#main-nav li img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	-webkit-filter: grayscale(1);
}

#main-nav li.menuSelected img {
	filter: none;
	-webkit-filter: grayscale(0);
	border-radius: 10px;
}

#header-left {
	width: 34%;
}

#header-middle {
	width: 40%;
	padding-top: 20px;
}

#header-middle a {
	color: black;
}

#header-right {
	width: 30%;
	vertical-align: top;
}

#header-right img{
	float:right;
}

.clear { 
    clear:both; 
    margin: 0;
}

/* CSS for emptyFile.htm*/
.clear{
	clear:both;
}

/* CSS for footer.htm*/

/* Sticky footer */

html, body {
	height: 100%;
	margin: 0;
}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 60px;}  /* must be same height as the footer */

footer {position: relative;
	margin-top: -33px; /* negative value of footer height */
	height: 30px;
	background-color: #222;
	font-size:13px;
    font-family:Verdana;
    border-top:2px solid #FFF;
    -webkit-box-shadow: 0 -2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 -2px 2px rgba(0,0,0,.2);
	box-shadow: 0 -2px 2px rgba(0,0,0,.2);
	clear:both;} 

footer p {
    color: white;
    margin: 0;  
    padding: 5px; 
}

#copyright {
    float: left;
}

#footerText {
    float: right;
}


/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

/* Make datepicker image centered relative to the text field next to it */
.ui-datepicker-trigger {
	vertical-align: -10%;	
}


/* Orange buttons */

.submit_bt {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif !important;
	padding: .10em 1em .10em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.submit_bt_hover {
	text-decoration: none;
}
.submit_bt:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	height: 25px;
	width: 120px;
}

.orange_wide {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	height: 25px;
	width: 240px;
}

.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
label, table, a, u, li, h, p, legenda, span, p, placeholder, input[type=text], input[type=reset], input[type=radio], input[type=button], input[type=password], input[type=file], input[type=textarea] , textarea, button
{
	font-family: Calibri;
	font-size: 15px;
}