input.error { border: 2px solid red; }

label.error { 
	margin-left: 10px;
	color: red; 
}

.insertTbl {
    width: 800px;
    height: 110px;
    border: 0;
}

.insertTbl #legenda {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: black;
	font-family: Calibri;
	margin: 0 25px;
}

.tbl {
 border:2px solid black;
 width: 700px;
 -moz-border-radius: 10px;
 border-radius: 10px;
}

tr.ui-row-ltr td:nth-child(2) {
	border-left-width: 1px;
	border-left-color: inherit;
	border-left-style: solid;
}

.tb_style1 {
 background-color:#E9E5E6;
 padding:2px;
}

.tb_style2 {
 background-color:#FCEACD;
 padding:2px;
}

#style_check {
	text-align: center;
}

.first-half {
    float: right;
    width: 50%;
}
.second-half {
    float: left;
    width: 50%;
}


 .ERROR {
	background-color: #ff4040;
	border-bottom: #BF5454 1px solid;
}

.message{
	width: 61%;
	text-align: center;
	line-height: 2.4;
	position: absolute;
	top: 340px;
	height: 30px;
	z-index:9999;
	font-weight: bold;
	color: #ffffff;
	background-color: #ff4040;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
	background-image: -moz-linear-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image: -o-linear-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image: linear-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-size: 50px 50px;
	-moz-background-size: 50px 50px;
  	-webkit-background-size: 50px 50px;
  	-webkit-animation: animate-stripes 2s linear infinite;
	border-bottom: #BF5454 1px solid;
}	
	
.field_input{
	height:25px;
	width:160px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
    padding-left:5px;
}

.field_input_error{
	border:1px solid #FF0000;
	height:25px;
	width:160px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    background:#990000;
    color: white;
    padding-left:5px;
}

.field_input_success{
	border:1px solid #00FF00;
	height:25px;
	width:160px;
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    background:#009900;
    color: white;
    padding-left:5px;
}