.jqx-widget-summer{border-color: #cacaca;}
.jqx-fill-state-normal-summer, .jqx-widget-header-summer{ border-color: #cacaca; background-color:#e4e5e5;}
.jqx-fill-state-hover-summer, .jqx-scrollbar-thumb-state-normal-summer, .jqx-scrollbar-thumb-state-normal-horizontal-summer{ border-color:#222;  background-color:#888888; color: #fff;}
.jqx-fill-state-pressed-summer{border-color: #fe5815; background-color: #fe5815; color: #fff; }
.jqx-fill-state-focus-summer { border-color: #555; }

.jqx-scrollbar-state-normal-summer, .jqx-grid-bottomright-summer, .jqx-panel-bottomright-summer, .jqx-listbox-bottomright-summer{background-color: #e4e5e5;}
.jqx-scrollbar-button-state-pressed, .jqx-scrollbar-button-state-hover{background-color: #e4e5e5; border-color: #222;}
/*icons*/
.jqx-menu-item-arrow-up-selected-summer, .jqx-icon-arrow-up-hover-summer, .jqx-icon-arrow-up-selected-summer{background-image:url('images/icon-up-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-summer, .jqx-icon-arrow-down-hover-summer, .jqx-icon-arrow-down-selected-summer{background-image:url('images/icon-down-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-summer, .jqx-icon-arrow-left-hover-summer, .jqx-icon-arrow-left-selected-summer{background-image:url('images/icon-left-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-summer, .jqx-icon-arrow-right-hover-summer, .jqx-icon-arrow-right-selected-summer{background-image:url('images/icon-right-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-tabs-close-button-hover-summer, .jqx-tabs-close-button-selected-summer{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-scrollbar-summer .jqx-icon-arrow-up-selected-summer, .jqx-scrollbar-summer .jqx-icon-arrow-up-hover-summer{background-image:url('images/icon-up.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-summer .jqx-icon-arrow-down-selected-summer, .jqx-scrollbar-summer .jqx-icon-arrow-down-hover-summer{background-image:url('images/icon-down.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-summer .jqx-icon-arrow-left-selected-summer, .jqx-scrollbar-summer .jqx-icon-arrow-left-hover-summer{background-image:url('images/icon-left.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-summer .jqx-icon-arrow-right-selected-summer, .jqx-scrollbar-summer .jqx-icon-arrow-right-hover-summer{background-image:url('images/icon-right.png');background-repeat:no-repeat; background-position:center;}


/* Rounded corners for jqxComboBox */


.jqx-scrollbar-thumb-state-normal-summer, .jqx-scrollbar-thumb-state-normal-horizontal-summer, .jqx-scrollbar-state-normal-summer, 
.jqx-scrollbar-thumb-state-normal-summer, .jqx-scrollbar-thumb-state-normal-horizontal-summer,

.jqx-combobox-arrow-normal, .jqx-combobox-arrow-normal-summer, .jqx-rc-r .jqx-rc-r-summer
{
	border-radius: 11px !important;
}

.jqx-checkbox-default, .jqx-checkbox-default-summer {
	border-radius: 0 !important;
}

.jqx-combobox-arrow-normal, .jqx-combobox-arrow-normal-summer, .jqx-combobox-arrow-hover, .jqx-combobox-arrow-hover-summer,
.jqx-combobox-arrow-selected, .jqx-combobox-arrow-selected-summer
{
	height: 18px !important;
	margin-left: -2px !important;
	margin-top: 3px !important;	
}

.jqx-scrollbar-thumb-state-normal-summer, .jqx-scrollbar-state-normal-summer {
	width: 11px !important;	
}

.rounded .jqx-icon-arrow-up, .rounded  .jqx-icon-arrow-down, .rounded .jqx-icon-arrow-down-hover-summer, .rounded .jqx-icon-arrow-down-selected-summer {
	width: 80% !important;
	height: 80% !important;	
}

.jqx-scrollbar-thumb-state-normal, .jqx-scrollbar-thumb-state-normal-summer {
	width: 9px !important;
}

.rounded .jqx-combobox-content {
	width: 202px !important;
}

.rounded_small .jqx-combobox-content {
	width: 102px !important;
}
.jqx-scrollbar-button-state-normal, .jqx-scrollbar-button-state-normal-summer, .jqx-rc-t, .jqx-rc-t-summer {
	height: 11px !important;	
	width: 11px !important;
}

.rounded .jqx-icon {
    margin: -7px auto 0 !important;
}
